@pd: 20px;
@mr: 20px;
.br(@br) {
  border-radius: @br;
}
.serverIndexWrapper {
  display: flex;
  .serverLeftContainer {
    flex: 1;
    .serverOperationalCon {
      box-sizing: border-box;
      padding: @pd;
      min-height: 437px;
      background: #fff;
      .br(6px);
      .serverOperationalList {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .operationListItem {
          box-sizing: border-box;
          padding: @pd;
          display: flex;
          align-items: center;
          width: 49%;
          height: 100px;
          background: #f6f8fe;
          .br(6px);
          margin-top: @mr;
          .iconWrapper {
            position: relative;
            width: 50px;
            height: 50px;
            & > i {
              position: absolute;
              left: 50%;
              top: 50%;
              font-weight: bolder;
              font-size: 32px;
              transform: translate(-50%, -50%);
            }
          }
          .tagList {
            position: relative;
            box-sizing: border-box;
            padding: 0 10px;
            flex: 1;
            display: flex;
            justify-content: space-between;
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              width: 1px;
              height: 30px;
              background: #e5e4e4;
              transform: translateY(-50%);
            }
            .tagItem {
              text-align: center;
              width: 100%/3;
              display: flex;
              flex-direction: column;
              & > span {
                font-size: 12px;
                color: #999;
                line-height: 20px;
              }
              .tagNum {
                font-weight: bold;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .serverQuickEntry {
      overflow: hidden;
      box-sizing: border-box;
      padding: @pd;
      margin-top: @mr;
      background: #fff;
      .br(6px);
      .serverQuickList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .quickEntryListItem {
          padding: @pd;
          position: relative;
          box-sizing: border-box;
          width: 90%/4;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 70px;
          cursor: pointer;
          margin-top: @mr;
          transition: all 0.2s linear;
          &:hover {
            background-color: #f4f6f8;
          }
          .itemCon {
            display: flex;
            align-items: center;
            height: 70px;
            & > i {
              font-weight: bold;
              font-size: 32px;
            }
            .title {
              flex: 1;
              color: #808080;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .orderOverview {
      padding: @pd;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: #fff;
      margin-top: @mr;
      .br(6px);
      .orderLineChart,
      .transformationOverview {
        width: 48%;
        :global {
          .ant-spin-nested-loading {
            .ant-spin-container {
              & > div {
                &:first-child {
                  height: 300px;
                }
              }
            }
          }
        }
      }
    }
  }

  .serverRightAside {
    box-sizing: border-box;
    width: 280px;
    margin-left: @mr;
    .contactUs {
      box-sizing: border-box;
      padding: @pd;
      background: #fff;
      .br(6px);
      .contactUsItem {
        display: flex;
        height: 60px;
        align-items: center;
        border-bottom: 1px solid #eee;
        &:last-child {
          border: none;
        }
        i {
          font-size: 30px;
          font-weight: bold;
        }
        .contactUsItemInfo {
          flex: 1;
          margin-left: 10px;
          & > .contactUsItemSubTitle,
          & > .contactUsItemTitle {
            color: #333;
          }
          .contactUsItemTitle {
            font-size: 14px;
            margin: 0;
            margin-bottom: 4px;
          }
          .contactUsItemSubTitle {
            font-size: 12px;
            margin-bottom: 0;
          }
        }
      }
    }
    .noticeWrapper {
      box-sizing: border-box;
      padding: @pd;
      margin-top: @mr;
      background: #fff;
    }
  }
}
