.productsListWrapper {
  border-radius: 20px;
  .operationWrapper {
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    .operationContainer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .operationItem {
      width: 350px;
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-right: 20px;
      &.operationItemCheckBox {
        width: 100%;
      }
      .operationItemLabel {
        font-size: 12px;
        color: #333;
        margin-right: 20px;
      }
      .operationItemVal {
        flex: 1;
        :global {
          .ant-select-dropdown {
            top: 32px !important;
          }
          .ant-select {
            width: 100%;
          }
        }
      }
    }
    .operationSearchBtn {
      width: 100%;
      display: block;
      margin-top: 10px;
    }
  }
  .productsTableWrapper {
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
    margin-top: 20px;
    .tableDataTitle {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    :global {
      .ant-pagination {
        margin-right: 20px;
      }
    }
  }
}
