.productsListWrapper {
  border-radius: 20px;
  .productsTableWrapper {
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
    margin-top: 20px;
    .tableDataTitle {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    :global {
      .ant-pagination {
        margin-right: 20px;
      }
    }
  }
}
