<!--
 * @Author: Always
 * @LastEditors  : Always
 * @email: 740905172@qq.com
 * @Date: 2020-01-07 15:09:25
 * @LastEditTime : 2020-01-07 17:04:42
 * @FilePath: /managementSystem/src/pages/document.ejs
 -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Your App</title>
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_1601442_yji8eo33wqa.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>